header{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(47, 47, 47);
}
.header_container{
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.header_logo-container{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header_logo-container h2{
    text-align: center;
    font-size: 1.5rem;
    color: rgb(190, 30, 30);
    font-family: 'OpenSans', sans-serif;
}

.header_logo_image{
    width: 10vw;
}

.menu_header{
    list-style: none;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-self: center;
}
.menu_header-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu_item{
    list-style: none;
    font-size: 1rem;
    font-weight: w;
    color: rgb(190, 30, 30);
    font-family: "Open Sans", sans-serif;
}
.menu_item:hover{
    transform: scale(1.1);
    text-decoration: underline;
    text-decoration-color: #f2f2f2;
}

.search_container{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
.search_input{
    width: 100%;
    height: 5vh;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
}
.search_input::placeholder{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    padding-left: 10px;
}
.social_media_nav{
    list-style: none;
    width: 12%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.social_media_list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.social_media_item{
    list-style: none;
    font-size: 1.3rem;
    margin: 5px;
    font-weight: w;
    color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
}