<header>
    <section class="header_container">
        <div class="header_logo-container">
            <h2>Onde Tem Enchente</h2>
            <!-- <img class="header_logo_image" src="" alt="Onde Tem Enchetes logotipo" /> -->
        </div>
        <!-- componentizar -->
        <nav class="menu_header">
            <ul class="menu_header-list">
                <li class="menu_item">Inicío</li>
                <li class="menu_item">Mapas</li>
                <li class="menu_item">Notícias</li>
                <li class="menu_item">Sobre</li>
                <li class="menu_item">Contatos</li>
            </ul>
        </nav>
    
        <nav class="social_media_nav">
            <ul class="social_media_list">
                <li class="social_media_item">
                    <i class="fa-brands fa-whatsapp"></i>
                </li>
                <li class="social_media_item">
                    <i class="fa-brands fa-instagram"></i>
                </li>
                <li class="social_media_item">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </li>
            </ul>
        </nav>
        <!-- componentizar -->
        <!-- <div class="search_container">
            <input 
                class="search_input" type="text" 
                name="mainSearch" id="mainSearch"
                placeholder="digite sua pesquisa aqui"
             />
        </div> -->
    </section>
</header>