<header class="header_container">
    <div class="header_logo-container">
        <h2>Onde Tem Enchente</h2>
        <!-- <img class="header_logo_image" src="" alt="Onde Tem Enchetes logotipo" /> -->
    </div>
    <!-- componentizar -->
    <nav class="menu_header">
        <ul class="menu_header-list">
            <li class="menu_item">Inicío</li>
            <li class="menu_item">Mapas</li>
            <li class="menu_item">Notícias</li>
            <li class="menu_item">Sobre</li>
            <li class="menu_item">Contatos</li>
        </ul>
    </nav>
    <!-- componentizar -->
    <div class="search_container">
        <input 
            class="search_input" type="text" 
            name="mainSearch" id="mainSearch"
            placeholder="digite sua pesquisa aqui"
         />
    </div>
</header>