<article class="article_card-box">
    <section class="article_card-image-container">
        <img [src]="articleContent.imagePath" alt="Imagem de referência" class="article_card-image">
    </section>
    <section class="article_card-header">
        <h3 class="article_title">{{articleContent.title}}</h3>
    </section>
    <section class="article_card-content">
        <p class="article_card-content-text">
            {{articleContent.textContent}}
        </p>
    </section>
    <div class="card_button-container">
        <button class="button">Ver mais</button>
    </div>
</article>