<article class="article_card-box">
    <section class="article_card-header">
        <h3 class="article_title">Título</h3>
    </section>
    <section class="article_card-image-container">
        <img src="../../../assets/images/image-mock.jpg" alt="Imagem de referência" class="article_card-image">
    </section>
    <section class="article_card-content">
        <p class="article_card-content-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores exercitationem provident non! Nam, officiis fugiat reiciendis odit itaque laboriosam in eos magnam magni praesentium fugit delectus, quia, quasi dolore eligendi?
        </p>
    </section>
    <div class="card_button-container">
        <button class="button">Ver mais</button>
    </div>
</article>